<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97758343204-1fnq4d2tqkpda5fsmsoas06jagu5gl7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97758343204-1fnq4d2tqkpda5fsmsoas06jagu5gl7m</string>
	<key>API_KEY</key>
	<string>AIzaSyBR6hhDUgf_XNzx1hvpqPSxYpQuMUH8f_4</string>
	<key>GCM_SENDER_ID</key>
	<string>97758343204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patricknymark.MyPersonalNotes</string>
	<key>PROJECT_ID</key>
	<string>mypersonalnotes-8a732</string>
	<key>STORAGE_BUCKET</key>
	<string>mypersonalnotes-8a732.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97758343204:ios:bd3316f606bd6599b728b1</string>
	<key>DATABASE_URL</key>
	<string>https://mypersonalnotes-8a732.firebaseio.com</string>
</dict>
</plist>